<div class="p-5">
    <h1 class="mb-5">Registro de Personas</h1>
    <app-hijo [msg]="parentMessage" *ngIf="parentMessage"></app-hijo>
    <form class="row g-3">
        <div class="col-md-7">
            <label for="inputEmail4" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese su nombre" name="name" [(ngModel)]="model.name">
        </div>


        <div class="col-md-7">
            <label for="inputAddress2" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Ingrese su apellido" name="apellido" [(ngModel)]="model.apellido">
        </div>

        <div class="col-md-7">
            <label for="inputState" class="form-label">Estado civil</label>
            <select id="inputState" class="form-select" name="estadocivil" [(ngModel)]="model.estadocivil">
                <option selected>seleccione</option>
                <option>Soltero</option>
                <option>Casado</option>
                <option>Divorciado</option>

            </select>
        </div>


        <div class="col-12 ">
            <button type="submit" class="btn btn-primary" (click)="enviar()">Enviar</button>
        </div>
    </form>


</div>